@import "./tailwind.scss";

/* You can add global styles to this file, and also import other style files*/

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: theme('fontFamily.sans');
  font-weight: theme('fontWeight.normal');
}
